@font-face { 
            font-family:"";
            src: url("") format() ; }
 /*
            tipos de format()
            -opentype(otf)
            -truetype(ttf)
            -embedded-opentype
            -truetype-aat(apple advanced Typography)
            */
h1{
            font-family: "love", cursive,serif;
            font-size: 3em;
            font-weight: normal;
}
